.table {
  border: 1px solid rgb(224, 224, 224);
  width: 70% !important;
  margin-left: 15%;
  margin-right: 15%;
}

.headbtn {
  display: flex;
  width: 70% !important;
  margin-left: 15%;
  margin-right: 15%;
  margin-bottom: 50px;
}
.headbtn1 {
  width: 30%;
  height: 150px;
}

.headbtn2 {
  width: 70%;
  padding-left: 30px;
  padding-right: 30px;
  height: 150px;
}

.large {
  width: 100%;
  height: 120px;
}
.small {
  width: 100%;
  height: 50px;
}
.txt {
  text-align: left;
}
